* {box-sizing: border-box;}

/* ============ TYPOGRAPHY ============ */
html {font-size: 1em;}

body {
  background-color: white;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

body.no-scroll {
	overflow: hidden;
}

/* ------ Copy ------ */
/* Paragraph */
p {
	margin-top: 0;
	margin-bottom: 1rem;
}

/* Links */
a {
	text-decoration: none;
}

/* small */
small, .font_small {font-size: 0.707em;}

/* ------ Headers ------ */
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  font-weight: 600;
}

h1, 
.h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2, .h2 {font-size: 1.999em;}
h3, .h3 {font-size: 1.414em;}
h4, .h4 {font-size: 1.2em;}


/* ============ LISTS ============ */
ul.list-reset,
ol.list-reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.list-inline,
ol.list-inline {
	display: flex;
	flex-direction: row;
}


/* ============ FORM ELEMENTS ============ */
/* ------ Inputs ------ */
input[type="text"] {
	display: block;
	width: 100%;
	padding: 5px;
	font-size: 1rem;
}

input[type="text"]:focus {
	outline-color: #e67e22;
}

.input-large input[type="text"] {
	padding: 6px;
	font-size: 1rem;	
}

.input-large .button {
	font-size: .875rem;
}

/* ------ Inline Input ------ */
.inline-input {
	position: relative;
}

.inline-input button {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;	
}

/* ============ BUTTONS ============ */
.button {
	display: inline-block;
	text-transform: uppercase;
	transition: all .2s;
	cursor: pointer;
	outline: none;
	border: 0;
	padding: .25rem 1rem;
}

/* ------ Button Sizes ------ */
.button-lg {
	font-size: .875rem;
	padding: .5rem 2rem;
}

/* ------ Button Themes ------ */
/* Transparent*/
.button-transparent {
	background: transparent;
	border: 2px solid #fff;	
	color: #fff;
	font-weight: 600;
}

.button-transparent:hover {
	background: #fff;
	color: #333;
}

/* Dark */
.button-dark {
	background: #333;
	color: #fff;
}

.button-dark:hover {
	background: #111;
}

/* ============ FLEXBOX UTILITY CLASSES ============ */
.flex-space-between {
	justify-content: space-between;
}

.flex-align-center {
	align-items: center;
}

/* ============ GRID ============ */
@media (min-width: 1450px) {
	.container {
	    max-width: 1400px;
	}
}


.img-responsive {
	width: 100%;
}

/* ============ BRAND ============ */
.brand {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .1rem;
}

/* ============ PRIMARY HEADER ============ */
.primary-header {
	position: relative;
	z-index: 99;
}

/* ------ Topbar ------ */
.topbar {	
	position: relative;
	font-size: .875em;
	height: 2.5rem;	
}

.topbar:after {
	content: '';
	opacity: 0;
	display: block;
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	height: 1px;
	background: #fff;
	z-index: 99;
	transition: opacity .3s;
}

.primary-header.nav-active .topbar:after {	
	opacity: 1;
}

.topbar > .container {
	position: relative;
	z-index: 99;
}

.topbar p,
.topbar a {
	margin: 0;
	line-height: 2.5rem;	
}

.topbar-free-shipping {
	margin: 0 auto;
}

.primary-header .topbar-nav {
	display: none;
}

/* ------ Navbar ------ */
.primary-navbar {
	position: relative;	
	z-index: 99;
}

.primary-navbar > .container {
	position: relative;
}

.navbar-wrapper {
	height: 3.5rem;
}

.primary-navbar .nav-link {
	display: inline-block;
	line-height: 5rem;	
	padding-top: 0;
	padding-bottom: 0;
}

/* ------ Brand ------ */
.primary-navbar .navbar-brand {
	padding-right: 0;
	padding-left: 0;
}

.primary-header .brand-icon {
    width: 28px;
    position: relative;
    top: 6px;
    margin-right: 5px;
}

/* ------ Nav ------ */
.nav {
	display: flex;
	flex-direction: row;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	margin: 0 0 0 1rem;
}

.nav-link {
	padding: 0 .5rem;
}

.nav-link-icon span {
	display: none;
}

.nav-link-icon img {	    
    position: relative;
    top: 1px;
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

/* ------ Primary Nav ------ */
.primary-nav {	
	display: none;
	position: static;
}

.primary-nav .nav-item {
  margin-left: 1rem;
}

.primary-nav .nav-link {
	text-transform: uppercase;
}

/* ------ Nav Toggle ------ */
.nav-toggle {
	position: relative;
	top: -1px;
}

.nav-toggle-btn {
	box-sizing: content-box;
	display: block;
	position: relative;	
	width: 24px;
	height: 14px;	
	padding: .5rem;	
	margin-left: -.5rem;
	line-height: 1;
}

.nav-toggle-btn span {
	display: inline-block;	
	position: relative;	
	top: -13px;
	width: 100%;
	height: 2px;
	background: #fff;	
	transition: all .3s;
}

.nav-toggle-btn span:before,
.nav-toggle-btn span:after {
	content: '';
	display: block;
	position: relative;
	top: 7px;
	width: 100%;
	height: 2px;
	background: #fff;
	transition: all .3s;
}

.nav-toggle-btn span:before {
	opacity: 1;
	transition: opacity .1s ease-in-out .1s;
}

.nav-toggle-btn span:after {
	top: 12px;
}

/* Active State Toggle */
.nav-toggle-btn.active span {
	top: -3px;
	transform: rotate(45deg);
}

.nav-toggle-btn.active span:before {
	opacity: 0;	
	height: 0;
	transition: opacity 0s ease-in-out 0s;
}

.nav-toggle-btn.active span:after {
	top: 0;
	transform: rotate(-90deg);	
}

/* ------ Mobile Cart ------ */
.mobile-cart {
	margin-top: 5px;
}

.mobile-cart-btn {
	box-sizing: content-box;
	display: block;
	position: relative;	
	width: 22px;
	padding: .5rem;
	margin-right: -.5rem;
}

.mobile-cart-count {
	display: inline-block;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;	
	background: #e67e22;
	border-radius: 50%;	
	font-size: .75rem;
	color: #fff;
	text-align: center;
}

/* ------ Dropdown ------ */
.dropdown {
	position: relative;
}

.dropdown.dropdown-full {
	position: static;
}

.dropdown-link i {
	display: inline-block;
  position: relative;
  top: 0px;
  width: 10px;
  height: 10px;
  margin-left: 2px;
  background: url(../imgs/dropdown-down.svg) no-repeat;
  background-size: cover;
}

.dropdown-target {
	opacity: 0;
	pointer-events: none;
	position: absolute;
	background: #fff;
	padding: 20px;
	color: #333;
	transition: none;
	-webkit-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 5px 3px 0px rgba(0,0,0,0.1);
}

.dropdown-arrow {
	content: '';
	position: absolute;
	top: -10px;
	left: 0;
	transition: left .3s;

	/* triangle */
	width: 0; 
	height: 0; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;  
	border-bottom: 10px solid #fff;
}

.dropdown-full > .dropdown-target {
	left: 15px;
	right: 15px;
}

.dropdown-left > .dropdown-target {
	left: 0;
}

.dropdown-link:hover ~ .dropdown-target,
.dropdown-target:hover {
	opacity: 1;
	pointer-events: initial;
	transition: opacity .3s;
}

/* ------ Mobile Nav ------ */
.mobile-nav-wrapper {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

#mobile-nav {
	position: relative;
	left: 0;
	/*transition: left .3s;*/
}

.mobile-nav {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .8);
}

.mobile-nav > .container {
	position: absolute;
    top: 130px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.mobile-nav-item a {
	position: relative;
	display: block;
	color: #fff;
	text-transform: uppercase;
	padding: 15px;
	font-size: 1.125rem;
	overflow: hidden;
	/*border-bottom: 2px dotted #fff;*/
}

.mobile-nav-item a:after {
	content: '';
	position: absolute;	
	bottom: 0;
	left: -2px;
	right: -2px;
	border-bottom: 2px dotted #fff;
}	

.mobile-nav-item > a > i {
	position: absolute;
	top: 50%;
	right: 15px;
	width: 20px;
	height: 20px;
	margin-top: -10px;
}

.mobile-nav-item > a > i > img {
	width: 20px;
	height: 20px;
}

/*.mobile-nav-item.back > a > i {
	position: relative;
	top: 3px;
	right: 0;
	margin-top: 0;
	margin-right: 5px;
}*/

/* Sub List */
.mobile-nav-item > .mobile-nav-list {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
}

/* Search */
.mobile-search {
	position: relative;
}

.mobile-search input {
	width: 100%;
	padding: 15px;
	background: transparent;
	outline: 0;
	border: 0;
	border-bottom: 2px solid #fff;
	font-size: 1.125rem;	
	color: #fff;
	transition: border-color .2s;
	padding-right: 50px;
	line-height: 1.35;
}

.mobile-search input:focus {
	border-color: #e67e22;
}

.mobile-search input::placeholder {color: #fff; text-transform: uppercase;}
.mobile-search input::-webkit-input-placeholder {color: #fff; text-transform: uppercase;}
.mobile-search input::-moz-placeholder {color: #fff; text-transform: uppercase;}
.mobile-search input:-ms-input-placeholder {color: #fff; text-transform: uppercase;}
.mobile-search input:-moz-placeholder {color: #fff; text-transform: uppercase;}

.mobile-search button {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	background: transparent;
	padding: 0 15px;
	cursor: pointer;
	outline: none;
	border: 0;
}

.mobile-search button img {
	width: 20px;
	height: 20px;
}

/* ------ menu ------ */
.menu {
	list-style: none;
	margin: 0 0 15px;
	padding: 0;
}

.menu-header {
	margin: 0 0 .75rem;	
}

.menu-header,
.menu-header a {
	text-transform: uppercase;
	font-weight: 600;	
	font-size: 1rem;
	color: #333;
}

.menu-item {	
	margin: 0 0 .5rem;	
}

.menu-item a {
	font-size: .875rem;
	color: #555;
	transition: .2s;
}

/* Hover State */
.menu-item a:hover {
	color: #e67e22;
}

/* ------ Primary Header Themes ------ */
/* Dark */
.primary-header.dark {
	background: #379683;
}

.primary-header.dark a.nav-link,
.primary-header.dark a.brand,
.primary-header.dark p {
	color: #fff;
}

.primary-header.dark .topbar {
	background: #308876;
}

/* Light */
.primary-header.light {
	background: #fff;
}

.primary-header.light a.nav-link,
.primary-header.light a.brand,
.primary-header.light p {
	color: #333;
}

.primary-header.light .topbar {
	background: #dedede;
}

.primary-header.light .nav-toggle-btn span,
.primary-header.light .nav-toggle-btn:before,
.primary-header.light .nav-toggle-btn:after {
	background: #333;
}

/* Transparent*/
.primary-header.transparent {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: transparent;
	color: #fff;
}

.primary-header.transparent a.nav-link,
.primary-header.transparent a.brand,
.primary-header.transparent p {
	color: #fff;
}

.primary-header.transparent .topbar {
	background: transparent;
	border-bottom: 1px solid #fff;
	z-index: 99;
}


/* ============ HERO ============ */
.hero {
	position: relative;
	height: 100vh;
	background: url('../imgs/hero_bg.jpg') no-repeat 30% center;
	background-size: cover;	
	text-align: center 
}

.hero > .container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 2.75rem;
}

.hero-icon {
	width: 250px;
}

.hero h1 {
	position: relative;
	margin-bottom: .625rem;
	font-size: 2rem;
}

.hero h1:after {
	content: '';
	position: absolute;	
	bottom: -4px;
	left: 50%;
	height: 2px;
	width: 80px;
	margin-left: -40px;
	background: #fff;			
}

.hero p {
	margin-bottom: 15px;
	font-size: .875rem;
	text-transform: uppercase;
	color: #fff;
}

/* ============ SECTION ============ */
.section-padding {
	padding: 3.5rem 0;
}

/* ============ CATEGORIES ============ */
.categories > .container > .row {
	position: relative;
	/*height: 42rem;*/
}

/* Gallery */
.gallery-item {
	display: block;
	padding: 15px;	
	width: 100%;
}

.gallery-card {
	display: block;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 0;			
	width: 100%;
	height: 20.0625rem;	
}

.gallery-card:after {
	opacity: 1;
	content: '';
	position: absolute;
	top: 15px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	background: transparent;
	border: 2px solid #fff;	
	transition: all .2s;
}

/*.gallery-card:hover:after {
	opacity: 1;
}*/

.gallery-card a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
}

.gallery-card figcaption {
	position: absolute;
	top: 50%;
	left: 30px;
	right: 30px;	
	transform: translateY(-50%);
	color: #fff;	
	font-size: 2rem;
	line-height: 1.1;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}

.gallery-card figcaption span {	
	position: relative;
	display: inline-block;
	font-size: 1rem;	
}

.gallery-card figcaption span:before,
.gallery-card figcaption span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: -50px;	
	width: 35px;
	height: 2px;	
	margin-top: -1px;
	background: #fff;
	z-index: -1;
}

.gallery-card figcaption span:after {
	left: initial;
	right: -50px;
}

.gallery-card-image img {
	position: absolute;
	top: 50%;
	left: 50%;	
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
	transition: all .5s ease;
}

.gallery-card-image:hover img {
    transform: translate(-50%, -50%) scale(1.15);
}

.gallery-card-text figcaption {
	font-size: 1.5rem;
}

.save-15 .gallery-card {
	background: #bdc3c7;
	transition: background .2s;
}

/*.save-15:hover .gallery-card {
	background: #959da2;
}*/

/* Menu Gallery Card */
.menu-gallery-card .gallery-card figcaption {
	font-size: 1.5rem;
}

.menu-gallery-card .gallery-card figcaption span {
	font-size: .75rem;
}

.menu-gallery-card .gallery-card figcaption span:before,
.menu-gallery-card .gallery-card figcaption span:after {
	width: 20px;
}

.menu-gallery-card .gallery-card figcaption span:before {left: -35px;}
.menu-gallery-card .gallery-card figcaption span:after {right: -35px;}

/* ============ BANNER ============ */
.banner {
	background-color: #333;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
}

.banner h2 {
	margin: 0 0 1rem;
	padding: 0;
	color: #fff;
	text-transform: uppercase;
}

/* Next Adventure Banner */
.next-adventure-banner {
	background-image: url('../imgs/next-adventure_bg.jpg');
}

/* ============ FOOTER ============ */
.primary-footer {
	padding: 3.5rem 0 0;
}

/* ------ Footer Newsletter ------ */
.footer-newsletter {
	margin-bottom: 35px;
}

/* Newsletter Header */
.footer-newsletter h4 {
	margin-top: 0;
}

/* Newsletter Input */
.footer-newsletter .inline-input input[type="text"] {
	padding-right: 100px;
}

.footer-newsletter .inline-input .button {
	width: 100px;
}

/* ------ Footer Menu ------ */
.primary-footer .menu {
	margin-bottom: 25px;
}

/* ------ Footer Copyright ------ */
.copyright {
	border-top: 1px solid #ddd;
	margin-top: 25px;
	padding: 20px 0;
}

.copyright p {
	font-size: .75rem;
	color: #555;
	margin: 0;
}